<b>In our previous blogs, we have discussed about we have discussed “Why Python is recommended for beginners” and "The features of Python and the different flavors of it".

Now, it's time to start with little hands on experience </b>

The Python Langauge Fundamentals include:

- Identifiers
- Reserved Words
- Data Types
- TypeCasting

## Identifiers

A name in python program which is used to identify a class,function,module or variable is called Identifiers

In [1]:
a=10

## Rules to define Identifiers in Python:

- The only allowed characters in python for identifiers are <b> alphabets symbols(either lowercase or uppercase), digits(0 to 9),underscore symbol (_)</b>

  By mistake if we are using any other symbol like $then we will gwt syntax error.

  - Short = 20     (Valid)
  - $hort = 30     (Invalid)


- Identifier should not starts with digit

  - 123number = 123  (Inalid)
  - number123 = 123  (Valid)
    
- Identifiers are case sensitive in python
  - apple = 9
  - Apple = 99

In [2]:
Short = 20

In [3]:
$hort = 30

SyntaxError: invalid syntax (<ipython-input-3-0ac4b7f2f9d7>, line 1)

In [4]:
123number = 123

SyntaxError: invalid syntax (<ipython-input-4-3f326582a07e>, line 1)

In [5]:
number123 =123

In [6]:
apple = 9

In [7]:
Apple = 99

## We can not use reserve words as identifiers

## Which of the following are vaild Python identifiers ?

1. 123abc
2. abc123
3. python2learn
4. cash
5. __hello_
6. if
7. def

Kindly execute the above variables by assigning some values to it and enhance your knowledge.

## In Python, some words are reserved to represent some meaning or functionality. These reserved words are called Keywords

### There are 35 reserved words available in Python

- True, False, None
- and, or, not
- if, elif, else
- while, for, break, continue, return, in, yield, async, await
- try, except, finally, raise, assert
- import, from, as, class, def, pass, global, nonlocal, lambda,del,with

## Note:

1. All Reserved wordsin python contains only alphabet symbols
2. Except the following 3 reserved words, all contain only lower case alphabet symbols
   - True
   - False
   - None
   
a= true (Invalid)

A= True (Valid)

In [8]:
a= true

NameError: name 'true' is not defined

In [9]:
d = True

## Check which of the  keywords are available in python through code ?

In [10]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

## Data Types

Datatype represents the type of data present inside a variable. In Python, we are not required to specify the type explicitly.Based on value provided, the type will be assigned automatically.
Hence, Python is dynamically typed language.

## Python contains the following inbuilt data types

1.  Int
2.  Float
3.  Complex
4.  Bool
5.  Str
6.  Bytes
7.  Bytearray
8.  Range
9.  List
10. Tuple
11. Set
12. Frozenset
13. Dict
14. None

# Everything in python is object

## Python contains several inbuilt functions

- type()  : to check the type of variable.

- id()    : to get address of object
  
- print() : to print the value 

## int Data type:

int data type is used to represnt whole numbers(integral values)

- a =10
- type(a)

In [11]:
a = 10

In [12]:
type(a)

int

## We can represnt the int values in the following ways:

- Decimal Form
- Binary Form
- Octal Form
- Hexa Decimal Form

## DecimalForm (Base-10) :

- It is the default number system in Python
- The allowed digits are: 0 to 9
 
 Example : a = 10

In [13]:
a =10

In [14]:
type(a)

int

## Binary Form (Base-2) :

- The allowed digits are: 0 & 1
- Literal value should be prefixed with 0b or 0B

 Example : 
 - a = 0B1111
 - b = 0B11
 - c = 0b111

In [15]:
a = 0B1111

In [16]:
type(a)

int

In [17]:
print(a)

15

In [18]:
b = 0B11

In [19]:
type(b)

int

In [20]:
print(b)

3

In [21]:
c=0b111

In [22]:
print(c)

7

## Octal Form (Base-8):

- The allowed digits are: 0 to 7
- Literal value should be prefixed with 0O or 0o

In [23]:
a = 0O745

In [24]:
print(a)

485

In [25]:
b = 0o473

In [26]:
print(b)

315

## Hexa Decimal Form (Base-16)

- The allowed digits are 0-9, a-f(both lowercase and uppercases are allowed)
- Literal value should be prefixed with 0x or 0X

In [27]:
a=0XFACE

In [28]:
print(a)

64206

In [29]:
b=0xbeef

In [30]:
print(b)

48879

Being a programmer we can specify literal values in decimal, binary, octal and hexadecimal forms But PVM (Python Virtual Machine) will always provide values only in decimal form.

In [31]:
a = 10

In [32]:
b = 0B10

In [33]:
c = 0O10

In [34]:
d = 0X10

In [35]:
print(a)

10

In [36]:
print(b)

2

In [37]:
print(c)

8

In [38]:
print(d)

16

## Base conversions

- bin(): We can use bin() to convert any base to binary

- oct(): We can use oct() to convert from any base to octal

- hex(): We can use hex() to covert from any base to hexa decimal

In [39]:
bin(15)

'0b1111'

In [40]:
bin(0O11)

'0b1001'

In [41]:
bin(0X10)

'0b10000'

In [42]:
oct(10)

'0o12'

In [43]:
oct(0b11)

'0o3'

In [44]:
oct(0Xbeef)

'0o137357'

In [45]:
hex(10)

'0xa'

In [46]:
hex(0b11)

'0x3'

In [47]:
hex(0O10)

'0x8'

## Float Data Type: 

We can use float data type to represent floating point values(decimal values)

Example: 
- f = 1.725
- type(f)

In [48]:
f = 1.725

In [49]:
type(f)

float

## We can also represent floating point values by using exponential form (Scientific Notation)

Example:

- g = 1.2e3

- h = 1.2E3

In [50]:
g = 1.2e3

In [51]:
type(g)

float

In [52]:
h = 1.2E3

In [53]:
type(h)

float

The main advantage of exponential form is we can represent big values in less memory.

## Note:

<b> We can represent int values in decimal, binary, octal and hexa decimal forms. But we can not represent float values only by using decimal form.</b>

In [54]:
a = 0B11.01

SyntaxError: invalid syntax (<ipython-input-54-71112486705c>, line 1)

In [55]:
a = 0o123.456

SyntaxError: invalid syntax (<ipython-input-55-fb634c0241c5>, line 1)

In [56]:
 a= 0X123.456

SyntaxError: invalid syntax (<ipython-input-56-f5255c11e9bd>, line 1)

## Complex Data type :

- A complex number is of the form : a + ij where j<sup> 2 </sup> = -1
- 'a' and 'b' contain Integers or Floating Point Values

- example: a = 3 + 5j

In [57]:
a = 3 + 5j

In [58]:
type(a)

complex

## Note :

- In the real part of complex data type if we use int value then we can specify that either by decimal, octal, binary or hexa decimal form

- But imaginary partshould be specified by using decimal form

In [59]:
a = 0B11 + 5j

In [60]:
a

(3+5j)

In [61]:
a = 3 + 0b101j # imaginary part should be specified by using decimal form

SyntaxError: invalid syntax (<ipython-input-61-8cf4209719c8>, line 1)

## Even we can perform operations on complex type variables

In [62]:
a = 10 +1.5j

In [63]:
b= 20 + 2.5j

In [64]:
c = a + b

In [65]:
type(c)

complex

In [66]:
print(c)

(30+4j)

## Note: Complex data type has some inbuilt attributes to retrieve the real part and imaginary part
- c = 13.5+3.6j
- c.real -> 13.5
- c.imag -> 3.6

### We can use complex type generally in scientific Applications and electrical engineering Applications.

In [67]:
c = 13.5 + 3.6j

In [68]:
c.real

13.5

In [69]:
c.imag

3.6

## Bool Data Type:

- We can use this data type to represent boolean values.
- The only allowed values for this data type are: True and False.
- Internally Python represnts True as 1 and False as 0

In [70]:
b = True

In [71]:
type(b)

bool

In [72]:
a = 10

In [73]:
b= 20

In [74]:
c = a < b

In [75]:
print(c)

True

In [76]:
True + True

2

In [77]:
True - False

1

## Str Data Type

- Str represents String data type
- A string is a sequence of characters enclosed within single quotes or double quotes
- s = 'flower'
- s = "Flower"

- By using single quotes or double quotes we can not represent multiline string literals. For this requirement, we should go for triple single quotes (''') or triple quotes (""")

- Syntax: name [start:stop:step]

In [78]:
s= 'flower'

In [79]:
s = "Flower"

In [80]:
k = ''' This is written in
          multiple line '''

In [81]:
print(k)

 This is written in
          multiple line

In [82]:
j =''' This is " double quotes '''

In [83]:
print (j)

 This is " double quotes

## Slicing of Strings:

- Slice means a piece
- [] operator is used for slicing (for retrieving some part of strings)
- In python Strings folows zero based index
- The index can be either positive (+ <sup> ve </sup>) or negative (- <sup> ve </sup>)
- Positive (+ <sup> ve </sup>) index means forward direction from Left to Right
- Negative (- <sup> ve </sup>) index means backward direction from Right to Left

In [84]:
s = 'apple'

In [85]:
s[0]

'a'

In [86]:
s[1]

'p'

In [87]:
s[-1]

'e'

In [88]:
s[40]

IndexError: string index out of range

In [89]:
s[1:40]

'pple'

In [90]:
s[1:]

'pple'

In [91]:
s[:4]

'appl'

In [92]:
s[0].upper() +s[1:]

'Apple'

In [93]:
s[:len(s)-1] +s[-1].upper()

'applE'

In [94]:
len(s)

5

 ## In Python the below mentioned data types are considered as Fundamental Data types

- int 
- float
- complex
- bool
- str

## Typecasting

- We can convert one type value to another type.This conversion is called Typecasting.

- The following are various inbuilt functions for type casting
1. int()
2. float()
3. complex()
4. bool()
5. str()

## int () : We can use this function to convert values from other types to int.

In [95]:
int(23421.4353423)

23421

In [96]:
int(10 + 5j) # we can't convert complex to int

TypeError: can't convert complex to int

In [97]:
int(True)

1

In [98]:
int(False)

0

In [99]:
int("10")

10

In [100]:
int ("10.5") # string only can't conert to int if it contain integer number only in decimal form

ValueError: invalid literal for int() with base 10: '10.5'

In [101]:
int("twenty")  # string only can't conert to int if it contain integer number only in decimal form

ValueError: invalid literal for int() with base 10: 'twenty'

In [102]:
int("0B111")  # string only can't conert to int if it contain integer number only in decimal form

ValueError: invalid literal for int() with base 10: '0B111'

In [103]:
int(0B111)

7

## Note:
1. We can convert from any type to int except complex type.
2. If we want to convert str type to int type, compulsary str should contain only integral value and should be specified in base-10.

## Float(): We can use float() function to convert other type values to float type.

In [104]:
 float(10)

10.0

In [105]:
 float(10+5j)

TypeError: can't convert complex to float

In [106]:
 float(True)

1.0

In [107]:
float(False)

0.0

In [108]:
 float("10")

10.0

In [109]:
 float("10.5")

10.5

In [110]:
 float("ten")

ValueError: could not convert string to float: 'ten'

In [111]:
 float("0B1111")

ValueError: could not convert string to float: '0B1111'

In [112]:
 float(0B1111)

15.0

## Note:
1. We can convert any type value to float type except complex type.
2. Whenever we are trying to convert str type to float type compulsary str should be either integral or floating point literal and should be specified only in base-10.

## complex():
- We can use complex() function to convert other types to complex type.
- Form-1: complex(x)
- We can use this function to convert x into complex number with real part x and imaginary part 0

In [113]:
complex(10)

(10+0j)

In [114]:
complex(11.5)

(11.5+0j)

In [115]:
complex(True)

(1+0j)

In [116]:
complex(False)

0j

In [117]:
complex("10")

(10+0j)

In [118]:
complex("11.5")

(11.5+0j)

In [119]:
complex("ten")

ValueError: complex() arg is a malformed string

## Form-2: complex(x,y)
- We can use this method to convert x and y into complex number such that x will be real part and y will be imaginary part.

In [120]:
 complex(90, -3)

(90-3j)

In [121]:
complex(True, False)

(1+0j)

## Bool(): We can use this function to convert other type values to bool type

In [122]:
bool(0)

False

In [123]:
bool(1)

True

In [124]:
bool(10)

True

In [125]:
bool(12.5)

True

In [126]:
bool(0.231)

True

In [127]:
bool(0.0)

False

In [128]:
bool(10-2j)

True

In [129]:
bool(0+1.5j)

True

In [130]:
bool( 0 + 0j)

False

In [131]:
bool("True")

True

In [132]:
bool("False")

True

In [133]:
bool("")

False

## NOTE: 

- If x is int datatype, 0 means False , Non-zero means true

- If x is float datatype, when the total value is zero then the result is False otherwise the result is True

- If the x is complex datatype, when the realand imaginory part are zero, then the result is False otherwise True

- If x is str datatype, xwhen x is empty string then the result is False otherwise the result is True

## str() : We can use this method to convert other type values to str type

In [134]:
str(20)

'20'

In [135]:
str(10.5)

'10.5'

In [136]:
str(0o1331)

'729'

In [137]:
str(10+5j)

'(10+5j)'

In [138]:
str(True)

'True'

In [139]:
str(False)

'False'

In [140]:
str(0b1110)

'14'

In [141]:
str(0xface)

'64206'

## bytes: byte data type represnts a group of byte numbers just like an array

In [142]:
A =[5,10,15,25]

In [143]:
b=bytes(A)

In [144]:
type(b)

bytes

In [145]:
print(b[0])

5

In [146]:
print(b[-1])

25

## Note:

- The only allowed values for byte data type are 0 to 256. By mistake if we are trying to provide any other values then we will get value error.

- Once we creates byte type value,we cannot change its values, otherwise we will get TypeError

In [147]:
A = [5,1,0,15,25]

In [148]:
A = bytes(A)

In [149]:
A[0]=10

TypeError: 'bytes' object does not support item assignment

## bytearray DataType : bytearray is exactly same as bytes data type except that its elements can be modified

In [150]:
A = [5,10,35,25]

In [151]:
A=bytearray(A)

In [152]:
print(A[1])

10

In [153]:
A[1]=20

In [154]:
print(A[1])

20

In [155]:
A=[10,256]

In [156]:
A=bytearray(A)

ValueError: byte must be in range(0, 256)

In [157]:
A=[10,255]

In [158]:
A=bytearray(A)

In [159]:
print(A[0],A[1])

10 255

## List Data Type:

- If we want to represnt group of values as a single entity where insertion order required to preserve and duplicates are allowed then we should go for list data type.

    - Insertion order is preserved

    - Heterogeneous Objects are allowed

    - Duplicates are allowed

    - Growable in Nature

    - Values should be enclosed within square brackets

In [160]:
l = [20,20.5,'apple',True,20]

In [161]:
print(l)

[20, 20.5, 'apple', True, 20]

In [162]:
print(l[1])

20.5

In [163]:
print(l[1:3])

[20.5, 'apple']

In [164]:
print(l)

[20, 20.5, 'apple', True, 20]

## List is growable in nature that is based on our requirement we can increase or decrease the size

In [165]:
l =[10,20,30,50]

In [166]:
l.append("learn")

In [167]:
print(l)

[10, 20, 30, 50, 'learn']

In [168]:
l.remove(20)

In [169]:
print(l)

[10, 30, 50, 'learn']

In [170]:
l = l * 2

In [171]:
print(l)

[10, 30, 50, 'learn', 10, 30, 50, 'learn']

## An ordered, mutuable, heterogenous collection of elements is nothing but list, where duplicates are also allowed

## Tuple Data Type : 

- Tuple data type is exactly same as list data type except that it is immutable that is we can not change values

- Tuple elements can be represented with in paranthesis

In [172]:
t= (10,20,30,40)

In [173]:
type(t)

tuple

In [174]:
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [175]:
t.append("you can not append to tupple")

AttributeError: 'tuple' object has no attribute 'append'

In [176]:
t.remove(10)

AttributeError: 'tuple' object has no attribute 'remove'

## tuple is the read only version of list

## Range Data Type:

- range datatype represents a sequence of numburs

- The elements present in range Data type can not be modified that is Data type is immutable

In [177]:
r= range (10) # generates numbers from 0 to 9

In [178]:
for num in r:      # to display range of numbers in r
    print(num)

0
1
2
3
4
5
6
7
8
9

In [179]:
r = range(11,21) # generates numbers from 11 to 20

In [180]:
for num in r:     # to display range of numbers in r
    print(num)

11
12
13
14
15
16
17
18
19
20

In [181]:
r = range(10,21,2) # increment value=2

In [182]:
for num in r:     # to display range of numbers in r
    print(num)

10
12
14
16
18
20

## We can access elements present in the range Data type by using index

In [183]:
r =range (10,20)

In [184]:
print(r[0])

10

In [185]:
print(r[15])

IndexError: range object index out of range

## We can not modify the values of range data type

In [186]:
r[0]=99

TypeError: 'range' object does not support item assignment

In [187]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## set Data Type:
###  If we want to represent a group of values without duplicates where order is not important then we should go for set Data Type.
  - Insertion order is not preserved
  - Duplicates are not allowed
  - Heterogeneous objects are allowed
  - Index concept is not applicable
  - It is mutable collection
  - Growable in nature

In [188]:

s ={100,200,100,10,0 ,'Learn to code Python'}

In [189]:
print(s)

{0, 100, 200, 10, 'Learn to code Python'}

In [190]:
s[0] #set does not support indexing

TypeError: 'set' object is not subscriptable

### set is growable in nature, based on our requirement we can increase or decrease the size.

In [191]:
s.add(99)

In [192]:
print(s)

{0, 99, 100, 200, 10, 'Learn to code Python'}

In [193]:
s.remove(100)

## frozenset Data Type:
- It is exactly same as set except that it is immutable.
- Hence we cannot use add or remove functions.

In [194]:
s ={5,10,15,20}

In [195]:
fs= frozenset(s)

In [196]:
type(fs)

frozenset

In [197]:
fs

frozenset({5, 10, 15, 20})

In [198]:
for num in fs:
    print(num)

10
20
5
15

In [199]:
fs.add(70)

AttributeError: 'frozenset' object has no attribute 'add'

In [200]:
fs.remove(10)

AttributeError: 'frozenset' object has no attribute 'remove'

## dict Data Type:
- If we want to represent a group of values as key-value pairs then we should go for 
dict data type.
- Eg: d = {101:'learn',102:'python',103:'programming'}
- Duplicate keys are not allowed but values can be duplicated. If we are trying to insert an entry with duplicate key then old value will be replaced with new value.

In [201]:
d = {101:'learn',102:'python',103:'programming'}

In [202]:
d[101]='new'

In [203]:
print(d)

{101: 'new', 102: 'python', 103: 'programming'}

In [204]:
d ={} # create empty dictionary

In [205]:
d['a']='Apple'

In [206]:
d['b']='Banana'

In [207]:
print(d)

{'a': 'Apple', 'b': 'Banana'}

## Note: dict is mutable and the order won’t be preserved

## Note: In general we can use bytes and bytearray data types to represent binary information like images, video files etc

## None Data Type:
- None means nothing or No value associated.
- If the value is not available, then to handle such type of cases None introduced.
- It is something like null value in Java.

In [208]:
def m1():
 a=10

In [209]:
print(m1())

None